<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audiophile e-commerce website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link href="/styles/base/shared.base.css" rel="stylesheet" />
    <link href="/styles/mobile/shared.mobile.css" rel="stylesheet" />
    <base href=".." />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/scripts/util.js"></script>
    <script defer src="/scripts/category.js"></script>
  </head>
  <body>
    <div id="title">
      <header>
        <button>
          <img
            alt="Burger Icon"
            src="assets/shared/tablet/icon-hamburger.svg"
          />
        </button>
        <img alt="Logo" src="assets/shared/desktop/logo.svg" />
        <nav>
          <ul class="categories-nav">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li v-for="category in categories">
              <a href="">{{ category }}</a>
            </li>
          </ul>
        </nav>
        <a href="" class="inline-svg" id="cart-link" v-html="svgIcons.cart"></a>
      </header>
      <h1>{{ selectedCategory }}</h1>
    </div>
    <section>
      <ul>
        <li v-for="product in selectedProducts">
          <picture>
            <source
              media="(min-width: 90rem)"
              v-bind:srcset="product.categoryImage.desktop"
            />
            <source
              media="(min-width: 48rem)"
              v-bind:srcset="product.categoryImage.tablet"
            />
            <img alt="Product" v-bind:src="product.categoryImage.mobile" />
          </picture>
          <div>
            <p v-if="product.new">NEW PRODUCT</p>
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <a class="btn btn-1" href="">See Product</a>
          </div>
        </li>
      </ul>
    </section>
    <section>
      <nav>
        <ul>
          <li v-for="category in categories">
            <a class="category-in-nav" v-bind:href="categoryPageLink(category)">
              <img
                alt="Category Thumbnail"
                class="category-thumbnail"
                v-bind:src="categoryThumbnailImage(category)" />
              <span class="category">{{ category }}</span>
              <div class="shop-link">
                <span class="shop">Shop</span>
                <img
                  alt="Right Arrow"
                  src="/assets/shared/desktop/icon-arrow-right.svg"
                /></div
            ></a>
          </li>
        </ul>
      </nav>
    </section>
  </body>
</html>
