* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

#top {
  color: #fff;
  padding-top: 2rem;
}

header {
  align-items: center;
  display: flex;
}

.categories-nav {
  display: flex;
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 192.3%;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

/* .categories-nav a:hover {
  color: #d87d4a;
} */

a {
  cursor: pointer;
  text-decoration: none;
}

.categories-nav a {
  color: #fff;
}

button {
  border: none;
  cursor: pointer;
}

#burger-icon-button {
  display: contents;
}

svg {
  display: block;
}

/* .inline-svg:hover path {
  fill: #d87d4a;
} */

.btn {
  align-items: center;
  display: inline-flex;
  height: 3rem;
  font-size: 0.81rem;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  width: 10rem;
}

.btn-1 {
  background-color: #d87d4a;
  color: #fff;
}

/* .btn-1:hover {
  background-color: #fba485;
} */

ul {
  list-style: none;
}

#categories-thumbnails-nav {
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
}

#categories-thumbnails-nav li {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.category-in-nav {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.category-thumbnail {
  position: absolute;
}

.shop-link {
  align-items: center;
  display: flex;
  font-size: 0.81rem;
  gap: 0.83rem;
  letter-spacing: 0.06rem;
}

.shop {
  color: #000;
  opacity: 0.5;
}

/* .category-in-nav:hover .shop {
  color: #d87d4a;
  opacity: 1;
} */

img {
  display: block;
  max-width: 100%;
}

.btn-2 {
  background-color: #000;
  color: #fff;
}

/* .btn-2:hover {
  background-color: #4c4c4c;
} */

.btn-3 {
  border: #000 solid 1px;
  color: #000;
}

/* .btn-3:hover {
  background-color: #000;
  color: #fff;
} */

#best article {
  display: flex;
}

h2 {
  text-transform: uppercase;
}

#best h2 {
  margin-bottom: 2rem;
}

#best-word {
  color: #d87d4a;
}

#best p {
  font-size: 0.94rem;
  line-height: 166.67%;
  opacity: 0.5;
}

footer {
  background-color: #101010;
  color: #fff;
}

footer::before {
  background-color: #d87d4a;
  content: "";
  display: block;
  height: 0.25rem;
  width: 6.31rem;
}

#footer-text {
  font-size: 0.94rem;
  line-height: 166.67%;
  opacity: 0.5;
}

#copyright {
  font-weight: 700;
}

#social {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
}
